*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.container{
    min-width: 1510px !important;
}
.wrapper{
    display: grid;
    grid-template-columns: repeat(Auto-fill, minmax(320px, 1fr  ));
    gap: 10px;
}
.col-md-3{
    border-radius: 20px 20px 0 0;
}
.col{
    border-radius: 20px 20px 0 0;
}
p{
    font-family: 'Irish Grover';
font-style: normal;
font-weight: 400;
}
input{
    caret-color: red;
}
.link{
    font-size: 26px;
    text-decoration: none;
    margin-left: 1100px;
    font-family: 'Irish Grover';
font-style: normal;
font-weight: 400;
}

/* loader*****************************************************************************8 */


.loader {
    position: relative;
    width: 100px;
    height: 100px;
  }
  
  .loader:before , .loader:after{
    content: '';
    border-radius: 50%;
    position: absolute;
    inset: 0;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3) inset;
  }
  .loader:after {
    box-shadow: 0 2px 0 #dc3545 inset;
    animation: rotate 2s linear infinite;
  }
  
  @keyframes rotate {
    0% {  transform: rotate(0)}
    100% { transform: rotate(360deg)}
  }
  .orta_load{
    position: relative;
    top: 290px;
    left: 370px;
  }

/* loader*****************************************************************************8 */

  .malumottop{
    color: #dc3545;
    font-size: 34px;
    font-family: 'Alata';
    font-style: normal;
    font-weight: 400;
    position: relative;
    top: 290px;
    left: 210px;
  }